<div class="container">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="site-heading">
      <h1><%= t("profile") %></h1>
      <hr class="small">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-7 col-lg-offset-2">
    <% if @user.posts.any? %>
        <ul class="post-preview" id="my-posts">
          <%= render @user.posts %>
        </ul>
      <% end %>
  </div>
  <div class="col-lg-3">
    <div class="user-info-row">
      <div class="user-name">
        <div><%= link_to @user.name, @user %></div>
        <div><%= @user.email %></div>
      </div>
    </div>
    <div class="user-info-row">
      <% if current_user == @user %>
        <%= link_to t(".edit"), edit_user_registration_path(@user),
          class: "btn btn-primary" %>
      <% end %>
      <% if user_signed_in? %>
        <%= render "follow_form" %>
      <% end %>
    </div>
  <div class="sidebar">
    <%= link_to t(".following"), following_user_path(@user) %>
    <strong id="following"><%= @user.following.size %></strong>
    <%= link_to t(".followers"), followers_user_path(@user) %>
    <strong id="followers"><%= @user.followers.size %></strong>
  </div>
</div>
